# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
lb

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Configuration files (use config.example.json as reference)
config.json